@model IEnumerable<CommunicationTool.Models.User>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table" style="padding-top:10px;">
    <thead>
        <tr>
                <th>
                    Username
                </th>
                <th>
                    Email
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @if (item.IsDevTeam == 1)
                {
                    @Html.DisplayName("Dev Team")
                }
                else
                {
                    @Html.DisplayName("Normal User")
                }
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
